body {
    font-family:'Verdana';
}

div {
    background-color: rgb(49, 226, 43); 
    padding: 10px;
    text-align: center;
}

#menus a {
    color:red ;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 3px;
    width: 80px;
    text-align: center;
    border: 1px dotted silver;
    border-radius: 10px;
}
